# interact with language models
langchain==0.1.4
langchain_community==0.0.16
langchain_core==0.1.17
langchain_openai==0.0.5


# read pdfs
PyPDF2==3.0.1

# Load secrets from .env
python-dotenv==1.0.1

# gui
streamlit==1.38.0

chromadb==0.3.29


# # vector store
# faiss-cpu==1.7.4

# altair==4

# tiktoken==0.4.0

# # uncomment to use huggingface llms
# huggingface-hub==0.14.1

# # uncomment to use instructor embeddings
# InstructorEmbedding==1.0.1
# sentence-transformers==2.2.2
